<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Taskr</h1>
  <p>Helping you increase your productivity!</p>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
