<div class="row">
	<div class="col-md-4">
		<h1>To Do</h1>
		<div class = 'panel panel-success'>
			<div class = 'panel-heading'>My To Do</div>
			<div class = 'panel-body'>This is my todo list</div>
			<div class = 'panel-footer'>This is my footer</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1>Doing</h1>
		<div class = 'panel panel-success'>
			<div class = 'panel-heading'>Doing</div>
			<div class = 'panel-body'>This is my todo list</div>
			<div class = 'panel-footer'>This is my footer</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1>Done</h1>
		<div class = 'panel panel-success'>
			<div class = 'panel-heading'>Done</div>
			<div class = 'panel-body'>This is my todo list</div>
			<div class = 'panel-footer'>This is my footer</div>
		</div>
	</div>
</div>