<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <div class="form-inputs">
    <h2 class= 'text-center'>Log in</h2>
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                placeholder: "Email",
                input_html: { class: 'form-control', autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                label: false,
                placeholder: "Password",
                input_html: { class: 'form-control', autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
